@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 82px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 32px;
  font-family: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  position: relative;
  bottom: 10px;

}

.projects {
  margin-top: 35px;
}


.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-slide {
  flex: 0 0 auto;
  height: auto;
}

/* Customize slick-dots styles if needed */
.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  display: flex !important;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 12px;
  cursor: pointer;
  color: var(--color-text);
  background-color: var(--color-dark);
  border: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.slick-dots li.slick-active button {
  background-color: var(--color-primary);
}
@media screen and (min-width: 768px) {
    .slick-slide {
      width: 100% !important;
      margin-right: 0 !important;
      height: auto !important;
    }
  }